.canvas {
    display: flex;
    justify-content: center;
    position: relative;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh; /* takes the full viewport height */
}